<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infoeducatie.app">

    <application>

        <meta-data
            android:name="server.root"
            android:value="http://api.infoeducatie.ro/v1/" />
    </application>

</manifest>
